@{
    ViewData["Title"] = "Birthday Card Generator";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a href="Home/BirthdayCardGenerator">Generator</a> to generate your awesome birthday card!</p>
</div>
